* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
}
  
.accordion {
    width: 80%;
    border-radius: 0.2rem;
    overflow: hidden;
}
  
.accordion a {
    text-decoration: none;
}
  
.accordion-container {
    border: 1px solid #52276a;
    border-top: 2px solid #25142e;
    overflow: hidden;
}
  
.accordion-container-btn {
    display: block;
    background: #52276a;
    color: white;
    position: relative;
}

.accordion-container-btn::before {
    position: absolute;
    background: #52276a;
    left: 1.5rem;
    bottom: -0.5rem;
    transform: rotate(45deg);
}

.accordion-container-btn i {
    margin-right: 1rem;
}
  
.accordion-container-sub {
    color: #ffffff;
    background: #000000;
    overflow: auto;
    transition: max-height 0.3s;
    max-height: 0;
}

.accordion-container-sub p {
    padding: .8rem;
    line-height: 1.6;
}

.accordion-container-sub a {
    display: block;
    padding: 1rem 1.6rem;
    color: #ffffff;
    font-size: 0.9rem;
    position: relative;
}

.accordion-container-sub a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 100%;
    transform: translatex(-0.4rem);
    transition: 0.3s;
    opacity: 0;
}
  
.accordion-container-sub a:hover::before {
    opacity: 1;
    transform: translatex(0);
}
  
.accordion-container:target .accordion-container-sub {
    max-height: 10rem;
}